<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="splashdev.devmedia.edu.br.webturismotcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coqueiro"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".TelaCadastro" />
        <activity
            android:name=".HomeNova"
            android:label="@string/title_activity_home_nova"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HotelDrawner"
            android:label="@string/title_activity_hotel_drawner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LayoutPadrao" />
        <activity android:name=".bemVindo" />
    </application>

</manifest>